@model List<StoreManage.Models.Store>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                @foreach (var store in Model)
                {
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="card-title fw-semibold mb-4">@store.StoreName</h5>
                        <div class="card">
                                @if (store.StoreID == 1)
                                {
                                    <img src="~/images/products/s4.jpg" class="card-img-top" alt="~.">
                                }
                                else{
                                    <img src="~/images/products/hotelsaigon.jpg" class="card-img-top" alt="~.">
                                }
                            <div class="card-body">
                                <h5 class="card-title">Type: @store.ProductType</h5>
                                <p class="card-text"> @store.Description</p>
                                <strong class="card-title">@store.TotalPrice $/Month</strong>
                                <hr>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class= "col-md-4">
                        @Html.Partial("OverviewPartial")
                    </div>
                </div>
                }
               @*  <div class="row">
                <div class="col-md-4">
                    <h5 class="card-title fw-semibold mb-4">Card</h5>
                    <div class="card">
                        <img src="~/images/products/s4.jpg" class="card-img-top" alt="~.">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of
                                the
                                card's content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.Partial("OverviewPartial")
                </div>
            </div> *@
            </div>
        </div>
    </div>
</div>